/* 
body 
    .nav : 내비게이션
    .banner : 배너 이미지
    .tab-list : contents 위의 tab 및 버튼 묶음
        .tab : tab 3개(개별)
            .tab-info
            .tab-inquiry
            .tab-review
        .apply : 신청 버튼
    .contents : 내용 출력란. tab 클릭에 따라 내용이 변경.
        .tab-content : 정보 / 문의 / 리뷰 묶음(개별)
        .contents-info : 강의 정보. 하위 요소에 -title, -content, -map을 붙여 구분.
            .subject : 강의 카테고리
            .people-num : 인원 수
            .location : 장소
            .info : 강의 정보
            .profile : 강사 프로필
        .contents-inquiry : 문의 내용
            .inquiry-block : 질문 / 답변 묶음
                .question : 질문 제목. -title, -content가 하위 요소
                .answer : 질문 상세 및 답변 클래스 묶음.
                    .question-ico : 화살표 그림
                    .question-text : 질문 상세 txt
                    .answer-content : 답변 txt
        .contents-review : 리뷰 내용 
            .review : 질문별 묶음(개별). 하위 요소에 -title, -content, -date, -img을 붙여 구분.
            .more : qna가 많을 경우 더 보기로 추가 확인 가능
*/

button {
    font-family: 'ChosunGu';
    font-weight: 600;
    color: #333;
}
.nav {
    width: 80%;
    margin: 40px auto;
}

/* 나중에 a href로 링크 걸 경우에 색상 변경 */
.nav a.navFirst {
    color: #5b9b5b;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav a.navSecond {
    color: #aacda6;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navFirst:hover, .navSecond:hover {
    color: #3e6b3e;
    text-decoration: underline;
}


.banner, .tab-list, .contents {
    width: 80%;
    margin: 2% auto;
}
.banner {
    background-image: url('https://as2.ftcdn.net/jpg/04/91/16/31/1000_F_491163105_W7Gasr6WEv2KAIkKmuy4x7eLX3sZCZoU.webp');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.tab-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #3e6b3e;
    background-color: #f9f9f9;
    overflow: hidden;
    width: 80%;
    margin: 2% auto 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.tab-list-child {
    display: flex;
    gap: 10px;
    width: 40%;
}

.tab {
    flex: 1;
    padding: 0.75em 1em;
    border: 1px solid transparent;
    border-bottom: none;
    background-color: #d9ead3;
    color: #3e6b3e;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    user-select: none;
    font-size: 1em;
    border-right: 1px solid #aacda6;
    border-radius: 10px 10px 0 0;
}

.tab:hover {
    background-color: #5b9b5b;
    color: #fff;
}

.apply {
    width: 10%;
    height: 3em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #5b9b5b;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-bottom: 1%;
}

.apply:hover {
    background-color: #3e6b3e;
}

/* 여기부터 강의 설명 */

.contents {
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.contents-info, .contents-inquiry, .contents-review {
    padding: 3%;
}

.contents-info {
    line-height: 1.8em;
    width: 90%;
    margin: auto;
    padding: 3%;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    margin: 50px 0;
    color: #3e6b3e;
}

.subject, .people-num, .location {
    display: flex;
}

.subject-title, .people-num-title, .location-title {
    font-weight: 600;
    width: 10%;
}

.info-title {
    font-weight: 600;
    width: 100%;
    margin-top: 2%;
}

.subject-title, .people-num-title, .subject-content, .people-num-content {
    display : inline-block;
}

.subject-content, .people-num-content, .location-content {
    width: 90%;
}

.location-content {
    display: flex;
}

.location-content1 {
    width: 40%;
}

.kakao-btn {
    width: 70%;
    height: 3em;
    border-radius: 10px;
    border: none;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #5b9b5b;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease; 
    margin-top: 5%;
}

.kakao-btn:hover {
    background-color: #3e6b3e;
}

.location-map {
    width: 60%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
    border-radius: 20px;
    border: 2px dotted #3e6b3e;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.info-content {
    margin-top: 2%;
    text-align: justify;
}

p {
    margin: 3% auto;
}

.profile {
    display: flex;
    gap: 20px;
}

.profile-img {
    border: 1px solid #aacda6;
    border-radius: 100%;
    background-image: url('https://i.postimg.cc/QtdPf9v1/peter-bo-Yl-SNPd-H7h20-unsplash.jpg');
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
}

.profile-content-name {
    font-weight: 600;
}

/* 여기부터 질문 사항 */

.question-input {
    width: 95%;
    text-align: right;
    margin: 3% auto;
    box-sizing: border-box;
}

.inquiry-block {
    width: 90%;
    background-color: #f0f0f0;
    border: 1px dotted #cce0cc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: hidden;
    padding: 2%;
    margin: 5% auto;
    line-height: 2em;
}

.question {
    cursor: pointer;
}

.question-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #3e6b3e;
}

.question-date {
    font-size: 0.8em;
    color:#555;
    margin-top: 10px;
    text-align: right;
}

.answer {
    display: none;
    gap: 20px;
    border-top: 1px solid #3e6b3e;
    padding-top: 2%;
    margin-top: 2%;
}

.answer-content {
    border-top: 1px solid #3e6b3e;
    margin-top: 2%;
    padding-top: 2%;
}

.question-ico {
    background-image: url('https://i.postimg.cc/ZKxpgTQj/free-icon-arrow-10397635.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
}

.text-block {
    font-size: 0.9em;
    line-height: 1.6em;
    text-align: justify;
    width: 90%;
    background-color: #ffffff;
    border: 1px dotted #5b9b5b;
    border-radius: 10px;
    padding: 2%;
}
.text-block > hr {
    background-color: #3e6b3e;
    border: 1px solid #3e6b3e;
}
.question-text {
    font-weight: 600;
}

/* 여기부터 review */
.input {
    width: 95%;
    padding: 2%;
    text-align: right;
}
.input-btn {
    text-align: center;
    background-color: #aacda6;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    color: #ffffff;
    font-weight: 900;
    font-size: 1em;
    padding: 0.5em;
    margin-top: 10px;
    margin-right: 0;
    margin-bottom: 0;
    cursor: pointer;
    width: 15%;
}

.review-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    overflow: hidden;
    margin: auto;

}

.review {
    margin: 30px 0 30px;
    background-color: #f0f0f0;
    border: 1px dotted #cce0cc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.review:hover {
    transform: translateY(-5px);
}

.review-text {
    width: 60%;
}

.review-title, .review-content {
    line-height: 1.8em;
}

.review-title {
    font-size: 1.2em;
    font-weight: 600;
    color: #3e6b3e;
}

.review-content {
    font-size: 0.95em;
}

.review-date {
    font-size: 0.8em;
    color:#555;
    margin-top: 10%;
}

.review-img {
    border: 1px solid #aacda6;
    border-radius: 10px;
    background-image: url('https://i.postimg.cc/QtdPf9v1/peter-bo-Yl-SNPd-H7h20-unsplash.jpg');
    width: 100px;
    height: 100px;
    background-position: center center;
    background-size: cover;
}

.more {
    width: 70%;
    margin: 5% auto;
}

.more-btn {
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    height: 4em;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #5b9b5b;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* 모달 공통 디자인 */

.modal {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.4);
}

.modal.show {
    display: flex;
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.modal-content {
    margin: 10% auto;
    padding: 30px;
    width: 80%;
    max-width: 600px;
    background-color: #f0f0f0;
    border: 1px dotted #cce0cc;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    overflow: auto;
}

h2 {
    font-weight: 600;
    font-size: 1.5em;
}

label {
    font-weight: 600;
    font-size: 0.95em;
    width: 15%;
    text-align: left;
    padding-top: 2px;
}

.tos {
    text-align: justify;
    line-height: 1.6em;
    font-size: 0.8em;
    font-weight: 100;
    color: #555;
    border-top: 1px solid #3e6b3e;
    padding: 5%;
}

.tos ul li {
    margin: 2% auto;
}

.review-write-title, .inquiry-write-title {
    display: flex;
    justify-content: space-between;
    margin: 2% auto 5%;
}

.review-form-title, .review-form-content, .review-form-img, 
.inquiry-form-title, .inquiry-form-content {
    display: flex;
    margin: 3% auto;
}

#review-title, #review-content, #review-image, 
#inquiry-title, #inquiry-content {
    width: 85%;
    font-family: 'ChosunGu';
}

#review-title, #review-content,
#inquiry-title, #inquiry-content {
    border: 1px dotted #aacda6;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 5px;
    font-size: 0.95em;
    box-sizing: border-box;
}

#review-title:focus, #review-content:focus, 
#inquiry-title:focus, #inquiry-content:focus {
    outline: none;
}

#review-content, #inquiry-content {
    resize: none;
}
#review-image {
    font-size: 0.8em;
    color: #555;
}

#review-done-btn, #inquiry-done-btn {
    width: 100%;
    margin: 5% auto;

    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #5b9b5b;
    border-radius: 20px;
    padding: 10px;
    height: 3em;
    border: none;
    color: white;
}

/* 반응형 */

@media (max-width: 1200px) {
    .review {
        width: 90%;
    }

    h1 {
        font-size: 2.75em;
    }

    .tab-list-child {
        width: 50%;
        font-size: 0.8em;
    }
}

@media (max-width: 768px) {

    .tab-list-child {
        width: 75%;
    }

    .tab {
        width: 25%;
        height: 100%;
        padding: 1px;
        font-size: 1em;
    }

    .apply {
        width: 20%;
        height: 40px;
    }

    .contents-info {
        width: 90%;
        padding: 3%;
        margin: auto;
    }

    h1 {
        font-size: 2em;
    }

    .subject-title, .people-num-title, .location-title {
        width: 20%;
    }

    .location-content {
        display: block;
        box-sizing: border-box;

    }

    .location-content1 {
        width: 100%;
    }

    .location-content-detail, .kakao-btn, .location-map {
        margin: 2% auto;
    }
    .location-map {
        width: 100%;
        margin-left: 0;
    }

    .kakao-btn{
        width: 100%;
    }

    .question, .answer {
        padding: 5%;
    }

    .answer-content {
        border-top: 1px solid #3e6b3e;
        margin-top: 5%;
        padding-top: 5%;
    }

    .text-block {
        padding: 5%;
    }

    .input-btn {
        width: 30%;
    }

    .review-btn { 
        margin-top: 10px;
        margin-right: 0;
        margin-bottom: 0;
    }
    
    .review {
        padding: 20px;
        width: 100%;
        margin: 5% auto;
    }


    label {
        font-weight: 600;
        width: 30%;
        text-align: left;
    }

    #review-title, #review-content, #review-image {
        width: 70%;
    }

    /* footer에 있는 챗봇 메뉴 */
    #chat{ 
        display: inline;
    }

    /* 모바일일경우 pc버전에 표시되는 우측 하단 챗봇 이미지 제거 */
    .chatbot{
        display: none;
    }
    .speech-bubble{
        display: none;
    }
}