/* 기본 설정 */

textarea {
    resize: none;
    padding: 10px;
    font-family: 'ChosunGu';
    font-size: 1.1em;
}

/* body */

.body {
    padding-top: 40px;
}

.nav {
    width: 80%;
    margin: 0 auto 40px;
}

/* 나중에 a href로 링크 걸 경우에 색상 변경 */
.nav a.navFirst {
    color: #5b9b5b;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.nav a.navSecond {
    color: #aacda6;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navFirst:hover, .navSecond:hover {
    color: #3e6b3e;
    text-decoration: underline;
}

.block {
    width: 75%;
    margin: 5% auto;
    background-color: #fff;
    border: 1px dotted #3e6b3e;
    border-radius: 20px;
    padding: 3%;
}

.input {
    margin: 3%;
}

.index {
    width: 10%;
    font-weight: 600;
    font-size: 1.2em;
    margin-right: 3%;
}

.title, .subject, .date {
    display: flex;
    margin: 3% 0;
    align-items: center;
}

.input-txt {
    width: 85%;
    font-size: 1.1em;
    font-family: 'ChosunGu';
    padding: 5px;
    outline: none;
    border: 0.5px dotted;
    border-radius: 10px;
}

#dropdown-btn {
    background-color: #5b9b5b;
    transition: 0.3s ease background-color;
    color: #fff;
    font-family: 'ChosunGu';
    font-weight: 600;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px;
}

#dropdown-btn:hover {
    background-color: #3e6b3e;
}

.index-select-con {
    position: relative;
}

.subject-list {
    display: none;
    position: absolute; 
    top: 100%;         
    left: 0;
    z-index: 1000;      
    padding: 20px;
    border: 1px dotted #aacda6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    background-color: #fff;
}

.subject-title {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5%;
}

.subject-box {
    flex-wrap: wrap;
    display: flex;
    gap: 10px;
}

.subject-con {
    flex-grow: 1;
}

.sub-hr {
    margin: 3% auto;
}

.result {
    color: #555;
    font-weight: 600;
    margin-left: 10px;
}

.date-sel {
    font-size: 1em;
    box-sizing: border-box;
    outline: none;
    font-family: 'ChosunGu';
    padding: 3px;
    border-radius: 10px;
    border: 1px dotted;
}

.write {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    margin: 2% 0;
}

.bottom-btn-list {
    text-align: right;
}

.input-btn {
    transition: 0.3s ease background-color;
    color: #fff;
    font-family: 'ChosunGu';
    font-weight: 600;
    border: none;
    width: 10%;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    background-color: #5b9b5b;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 3em;
}

.input-btn:hover {
    background-color: #3e6b3e;
}

#cancel {
    background-color: #555;
}

#cancel:hover {
    background-color: #333;
}


/* 반응형 */
@media (max-width: 768px) {
    
    .subject, .date {
        margin: 4% 0;
    }

    .index {
        width: 25%;
    }

    .bottom-btn-list {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .input-btn {
        width: 45%;
    }
}