@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

.login_main {
    width: 500px;
    margin: 100px auto 30px;
    padding: 20px;
    text-align: center;
}

.logo {
    margin-bottom: 50px;
}

.login {
    background-color: #ffffff;
    border: 1px solid #b5b6b5;
    border-radius: 12px;
    padding: 30px 20px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}
.login_h2 {
    color: #5b9b5b;
    font-size: 36px;
    font-weight: bold;
}
.id_pw {
    margin: 40px 0px 20px;
}
.id {
    border-radius: 5px 5px 0px 0px;
}
.pw {
    border-radius: 0px 0px 5px 5px;
    
}
.id,.pw {
    border: 1px solid #ccc;
    width: 100%;
    height: 60px;
    padding: 0 12px;
    font-size: 16px;
    box-sizing: border-box;
}

.keep_check,.remember {
    text-align: left;
    margin: 10px 0px;
    font-size: 14px;
    color: #555;
}

.login button {
    background-color: #5b9b5b;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 70px;
    margin: 30px 0px 10px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-family: 'ChosunGu';
}

.login button:hover {
    background-color: #2e9b5e;
}

.find {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.find li {
    display: inline;
    margin: 0 10px;
    font-size: 14px;
}

.find li::before {
    content: "|";
    margin-right: 10px;
    color: #aaa;
    padding-right: 10px ;
}

.find li:first-child::before {
    content: "";
}

.find a {
    text-decoration: none;
    color: #8c8989;
}

.banner {
    background-color: #d9f2e4;
    border-radius: 8px;
    font-weight: bold;
    height: 150px;
    margin: 40px auto 20px;
    padding: 20px;
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #888;
}


/* 모바일 (480px 이하) */
@media screen and (max-width: 480px) {
    body{
        padding: 0px;
    }
    .login_main {
        width: 100%;
        margin: 30px auto 0px;
        padding: 0px;
    }

    .logo img {
        width: 140px;
    }

    .login {
        width: 300px;
        padding: 20px 10px;
        margin: auto;
    }

    .id,.pw {
        height: 50px;
        font-size: 14px;
    }

    .login button {
        height: 60px;
        font-size: 20px;
    }

    .find {
        width: 100%;
    }
    .find li {
        font-size: 12px;
        margin: 0 5px;
    }

    .banner {
        width: 100%;
        font-size: 12px;
        padding: 0px;
        margin: 0px auto;
    }

    .footer {
        width: 380px;
        font-size: 12px;
        padding: 15px 10px;
    }
}


/* 481px ~ 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
    body{
        padding: 0px;
    }
    .login_main {
        width: 100%;
        padding: 20px;
    }

    .logo img {
        width: 180px;
    }

    .login {
        width: 100%;
        padding: 30px 20px;
    }

    .id,.pw {
        height: 60px;
        font-size: 16px;
    }

    .login button {
        height: 60px;
        font-size: 20px;
    }

    .find li {
        font-size: 14px;
        margin: 0 10px;
    }

    .banner {
        width: 100%;
        font-size: 16px;
        padding: 20px 10px;
    }

    .footer {
        font-size: 14px;
        padding: 20px 10px;
    }
}



