/* 기본 설정 */
@font-face {
    font-family: 'ChosunGu';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'ChosunGu';
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

a, a:link, a:visited {
    color: inherit;
    text-decoration: none;
}

a:focus, a:hover {
    color: #3e6b3e;
    text-decoration: none;
}

a:active {
    color: #5b9b5b;
    text-decoration: none;
}


/*
    head 세부 클래스명
    .logo : 홈페이지 로고
    .category
        .category-list : 개별 카테고리(통합)
            .reg : 수강 신청
            .lec-require : 강의 요청
            .community : 커뮤니티
            .mypage : 마이페이지
    .top-menu : 챗봇 / 고객센터 메뉴 묶음
        .top-menu-list : 메뉴별(통합)
*/

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}

.main-logo img {
    vertical-align: middle;
    margin-right: 5px;
}

.hamburger-menu {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
}

.category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 15px 0;
    gap: 20px;
}

.category-list {
    font-weight: bold;
    cursor: pointer;
    padding: 0 20px;
}
/* body css 시작 */
.my_back {
    display: flex;
    height: 1500px;
}

/* 사이드 탭 (왼쪽 메뉴) */
.tab {
    border-right: 1px solid #f9f9f9;
    /* border-bottom: 3px solid #346334; */
    background-color: #5b9b5b;
    color: #ffffff;
    width: 200px;
    min-width: 200px;
    height: 100%;
    text-align: center;
}

.tab_0,
.tab_1,
.tab_2 {
    border-bottom: 1px solid #eee;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.tab_2 {
    background-color: #3e6b3e;
}

.tab_1:hover,
.tab_2:hover {
    background-color: #4a8a4a;
}
.tab_0 {
    border: 1px solid #f9f9f9;
    color: #555;
    background-color: #f9f9f9;
}
/* 메인 콘텐츠 */
.main {
    background-color: #f9f9f9;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
/* 네비 */
.nav {
    /* border-bottom: 3px solid #346334; */
    /* background-color: #fff; */
    /* color: #ffffff; */
    text-align: left;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    margin: 10px 50px 0px;
    padding-left: 20px;
}
.nav a.nav_text {
    color: #5b9b5b;
}
.text {
    border-right: 1px solid #b5b6b5;
    font-size: 20px;
    text-align: right;
    font-weight: bold;
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    margin: 10px 30px 10px 0px;
    padding-right: 10px;
}
.edit {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 30px;
}

.center {
    border: 1px solid #b5b6b5;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    width: 90%;
    margin: 0px 30px 150px;
    padding: 50px 30px 30px;
    box-shadow: 0px 0px 10px rgb(0,0,0,0.1);
}

.center input {
    width: 200px;
    height: 25px;
}
.left {
    /* border: 1px solid black; */
    text-align: center;
    margin:  0px 0px 0px;
}
.right {
    /* border: 1px solid blue; */
    text-align: left;
    vertical-align: top;
}


.profile {
    background-image: url('https://i.postimg.cc/QtdPf9v1/peter-bo-Yl-SNPd-H7h20-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* border: 1px solid red; */
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin: 0px auto 50px;
    box-sizing: border-box;
}
.profile_button button {
    border: none;
    border-radius: 10px;
    background-color: #5b9b5b;
    color: #fff;
    width: 150px;
    height: 40px;
}

.id_name,
.pw,
.field,
.zip_code_box {
    border-bottom: 1px solid #b5b6b5;
    margin: 30px 0px;
}

.id_box,
.nickname_box,
.btn_box,
.address_box,
.detail_box,
.box {
    /* border: 1px solid black; */
    display: inline-block;
}

.second_box {
    display: inline-block;
    width: 200px;
    margin-right: 100px;
}

/* .pw {
    border: 1px solid orange;
} */

/* .field {
    border: 1px solid navy;
} */
.field select {
    text-align: center;
    font-size: 16px;
    width: 200px;
    height: 30px;
}

/* .zip_code_box {
    border: 1px solid blueviolet;
} */
.zip_code {
    /* border: 1px solid green; */
    display: inline-block;
    margin-right: 20px;
}
.zip_button button {
    width: 100px;
    height: 35px;
}

button:hover {
    cursor: pointer;
}

.save {
    text-align: right;
    margin: 120px 0px 0px;
}
.quit {
    text-align: right;
    margin: 100px 50px 0px 0px;
}

.save button,
.quit button {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    width: 100px;
    height: 50px;
}
.save button {
    background-color: #5b9b5b;
    color:#fff;
}

/*
    footer : 홈페이지 정보
    .bottom-menu : footer 내부 요소 묶음
        .copyright : 카피라이트
        .bottom-menu-list : 하단 메뉴 묶음(개별)
*/
.footer {
    background-color: #f0f0f0;
    padding: 20px;
    font-size: 0.9em;
    color: #555;
    border-top: 1px solid #ccc;
    margin-top: 40px;
    margin: auto;
    text-align: center;
}

.bottom-menu {
    gap: 15px;
    font-size: 0.9em;
    margin: 3% auto;
}

.copyright {
    display: block;
    margin: 3% auto;
}

.bottom-menu-list {
    cursor: pointer;
    transition: color 0.3s;
    display: inline;
}
.bottom-menu-list:first-child::before {
    content: "  "
}
.bottom-menu-list::before {
    content: " | "
}
.bottom-menu-list:hover {
    color: #5b9b5b;
}

/* 반응형 */
/* 480 */
@media screen and (max-width: 480px) {
    .head {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .hamburger-menu {
        display: block;
        font-size: 28px;
        margin-left: auto;
        margin-top: 10px;
        position: absolute;
        top: 13px;
        right: 5%;
        z-index: 1000;
    }

    .category {
        display: none;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        margin: 5% auto;
        gap: 30px;
        padding: 20px 0;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .category.show {
        display: flex;
    }

    /* body */
    .my_back {
        flex-direction: column;
        height: auto;
    }

    .tab {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .tab_0,
    .tab_1,
    .tab_2 {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 0;
    }

    .nav {
        font-size: 14px;
        margin: 10px 15px;
        padding-left: 5px;
    }

    .center {
        margin: 15px 15px 150px;
        padding: 20px 15px;
    }

    .edit {
        font-size: 22px;
        padding-top: 20px;
        margin-bottom: 30px;
    }

    .left {
        margin: 0 auto;
    }

    .profile {
        width: 120px;
        height: 120px;
        margin: 0px auto 30px;
    }

    .right {
        width: 100%;
        margin-top: 20px;
    }

    .text {
        font-size: 13px;
        width: 50px;
        padding-right: 5px;
        margin: 5px 10px;
    }
    .id_box,
    .nickname_box {
        width: 100%;
    }

    .box,
    .second_box,
    .center input,
    .field select {
        width: 70%;
        font-size: 14px;
        margin: auto;
    }

    .zip_code {
        width: 30%;
        margin: 0px 0px 10px;
    }

    .zip_button button,
    .btn_box {
        width: 35%;
        font-size: 8px;
    }

    .address_box,
    .detail_box {
        width: 35%;
    }

    .profile_button button,
    .save button,
    .quit button {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }

    .save,
    .quit {
        text-align: center;
        margin: 20px 0 0;
    }
}

/* 481px ~ 767px */
@media screen and (min-width: 481px) and (max-width: 767px) {
    .head {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .hamburger-menu {
        display: block;
        font-size: 28px;
        margin-left: auto;
        margin-top: 10px;
        position: absolute;
        top: 13px;
        right: 5%;
        z-index: 1000;
    }

    .category {
        display: none;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        margin: 5% auto;
        gap: 30px;
        padding: 20px 0;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .category.show {
        display: flex;
    }

    /* body */
    .my_back {
        flex-direction: column;
        height: auto;
    }

    .tab {
        flex-direction: column;
        width: 100%;
        height: auto;
    }

    .tab_0,
    .tab_1,
    .tab_2 {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
    }

    .nav {
        margin: 10px 20px;
        padding-left: 10px;
        font-size: 16px;
    }

    .center {
        margin: 20px 20px 200px;
        padding: 30px 20px;
    }

    .left {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }
    
    .profile {
        width: 150px;
        height: 150px;
        margin: 0px auto 50px;
    }

    .right {
        width: 100%;
        margin: 20px 0 0;
    }


    .profile_button button,
    .zip_button button,
    .save button,
    .quit button {
        width: 100%;
        font-size: 14px;
    }

    .text {
        font-size: 14px;
        width: 60px;
        text-align: left;
    }

    .id_box,
    .nickname_box {
        width: 100%;
    }

    .box,
    .second_box,
    .center input,
    .field select {
        width: 70%;
        font-size: 14px;
        margin: auto;
    }

    .address_box,
    .detail_box {
        width: 35%;
    }

    .save,
    .quit {
        text-align: center;
        width: 100%;
        margin: 30px auto 0px;
    }
}

/* 768px ~ 1024px */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .my_back {
        flex-direction: column;
        height: auto;
    }

    .tab {
        width: 100%;
        min-width: auto;
        display: flex;
        justify-content: space-around;
        height: auto;
    }

    .tab_0,
    .tab_1,
    .tab_2 {
        flex: 1;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
    }

    .main {
        padding: 20px;
    }

    .center {
        margin: 30px 30px 300px;
        padding: 50px 30px;
    }

    .left {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .profile {
        width: 200px;
        height: 200px;
        margin: 0px auto 50px;
    }

    .right {
        width: 100%;
        display: block;
        margin: 30px 0px 0px;
    }

    .text {
        width: 70px;
        font-size: 16px;
    }

    .id_box,
    .nickname_box {
        width: 40%;
    }

    .box,
    .second_box {
        width: 200px;
        margin: 0px;
    }
    .center input {
        width: 100%;
        font-size: 14px;
        margin: auto;
    }

    .pw input {
        width: 50%;
    }

    .field select {
        width: 100%;
    }

    .address_box,
    .detail_box {
        width: 35%;
        margin: 0px 5px;
    }

    .save button,
    .quit button {
        width: 100%;
    }

    .save,
    .quit {
        width: 100%;
        text-align: center;
        margin-top: 50px;
    }
}

@media (max-width: 768px) {
    .head {
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
    }

    .hamburger-menu {
        display: block;
        font-size: 28px;
        margin-left: auto;
        margin-top: 10px;
        position: absolute;
        top: 13px;
        right: 5%;
        z-index: 1000;
    }

    .category {
        display: none;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        margin: 5% auto;
        gap: 30px;
        padding: 20px 0;
        background-color: #f9f9f9;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

    .category.show {
        display: flex;
    }
}



